# Git
*.orig

# Builds
obj/
bin/

# NCrunch
_NCrunch_*


# NuGet Packages
packages/
download.error


# User Settings
*.user
*.DotSettings
.vs/
.idea/
*.userprefs


# Misc
*.stackdump
Thumbs.db
*.DS_Store

# Unity
*.meta